<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<header>
    <h1>Welcome to our awesome cheese store</h1>
</header>
<main>
    <p>Do you want to</p>
    <form action="/products">
        <button type="submit">Manage Products</button>
    </form>
</main>
</body>
</html>
